# Project
out/
/my-config.yaml
/temp/
/cfg.yml
markdown_code_embed/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# OSX
.DS_Store

#Maven
target/

# Plugin directory
/.quarkus/cli/plugins/
/TEMP.md
/generated/bundle/

# Doc site
node_modules/
/src/main/java/dev/snowdrop/visitorpattern/
